option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: "False"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
 03_createsuperuser:
    command: 'python manage.py shell -c "import os; from django.contrib.auth import get_user_model; U=get_user_model(); U.objects.filter(username=''admin'').exists() or U.objects.create_superuser(''admin'', ''admin@exemplo.com'', ''Ibmec2026admin'')"'
    leader_only: true